* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2em;
}

img {
  width: 90px;
  height: auto;
  margin-bottom: 1px;
}

p {
  color: black;
  font-size: 15px;
  padding: 2px;
}